@media screen and (min-width: 481px) 
{

body
{
	height: 100%;
	margin: 0;
  /*background-color: #16085b;*/
 /* background: #000080; */
  background:#fff; 
}

footer
{
	position: fixed;
	bottom: 0;
}

header
{
    height:10%;
    width:100%;
   
}

main {
  width:100%;
  height: 100%;
}

.whiteText {
 color: #fff;
}

.blackText {
  color: #000000;
}

.eleBlue {
  background: #00E8FC;
}

.pastelBlue {
  background:#256EFF;
}

.darkBlue {
  background: #000080;
}

.centerText {
  text-align: center;
}

.justifyText {
  text-align: justify;
}

.width50 {
  width:50%;
  max-width: 100%;
}

.width100 {
  width: 100%;
  max-width: 100%;
}

.marginAuto {
  margin: auto;
}

.arialSansSerif {
  font-family: Arial, Helvetica, sans-serif;
}

.japFont {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


.textSize1point5 {
   font-size: 1.5rem;
}

.textSize6 {
  font-size: 6rem;
}
.marginTopOne {
  margin-top: 1em;
}

h1 {
  font-family:'Times New Roman', Times, serif;
  font-size: 3rem;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  margin: auto;
}

h1,
h2,
h3 {
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}


.split {
  display: flex;
  flex-direction: row;
}

.centerImg {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.desktopTopBar
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background:#28282B;*/
  background: #282A35;
  height: 100%;
  /*background-color: #333;*/
}

.desktopTopBar li 
{
  float: left;
}

.desktopTopBar li a 
{
  display: block;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.875rem 1rem;
  text-decoration: none;
  transition-duration: 0.2s;
}

.desktopTopBar li a:hover
{
    background-color:#111;
    
}

.desktopTopBar .active a
{
    background-color:#00E8FC;
    color:black;
}
.desktopTopBar .active a:hover
{
    color:white;
    background-color: #DE3C4B;
    
}

aside
{
    background:grey;
    float:left;
}
.tables
{
    font-size:1.75rem;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; /* this changes fonts of japanese characters to the right ones*/
    width:100%;
    height:100%;
    color:#ffffff;
    background:#000066;
    text-align: center;
    border-collapse: collapse;
}


td:hover {
  background: #00E8FC;
  /*background:#4169E1; */
}

.kanaName {
  font-size: 1.75rem;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  color: #000000;
  font-weight: 600;
}

.relAnchor {
  position: relative;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
.openIB {
  position: absolute;
  background: #36454F;
  color:white;
  font-size: 8.75rem;
  top: 15rem;
  left: 4rem;
  width:15rem;
  height:15rem;
  display:block;
  border:none;
  cursor:pointer;
  transition-duration: 0.2s;
  border-radius: 5%;
}

.openIB:hover {
  background: #000000;
}

.infoWrapper {
  width:50%;
  margin: auto;
}
/*.grid-container
{
    display:none;
    width:30%;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items:stretch;
} */
.grid-container1
{
    display:grid;
    width:50%;
    height:21.875rem;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
}


.grid-child
{
    border:none;
}

.answerContainer {
display: none;
position: relative;
width: 30rem;
height: 30rem;
margin: auto;
}

.button1
{
    position: absolute;
    background-color:#256EFF;
    color:white;
    font-size: 3rem;
    text-align: center;
    width: 15rem;
    height: 15rem;
    left: -0.5rem;
    display:inline-block;
    border:none;
    cursor:pointer;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    border-radius: 5%;
}
.button1:hover
{
    background-color: #00E8FC;
    color:white;
}
.button2
{
    
    background-color:#256EFF;
    position: absolute;
    color:white;
    text-align: center;
    font-size: 3rem;
    left: 15.5rem;
    width: 15rem;
    height: 15rem;
    display:inline-block;
    border:none;
    cursor:pointer;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    border-radius: 5%;
}
.button2:hover
{
    background-color: #00E8FC;
    color:white;
}
.button3
{
    background-color:#256EFF;
    position: absolute;
    color:white;  
    text-align: center;
    font-size: 3rem;
    top: 16rem;
    left: -0.5rem;
    width:15rem;
    height: 15rem;
    display:inline-block;
    border:none;
    cursor:pointer;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    border-radius: 5%;
}
.button3:hover
{
    background-color: #00E8FC;
    color:white;
}
.button4
{
    background-color:#256EFF;
    position: absolute;
    color:white;   
    text-align: center;
    font-size: 3rem;
    width: 15rem;
    height: 15rem;
    top: 16rem;
    left: 15.5rem;
    display:inline-block;
    border:none;
    cursor:pointer;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    border-radius: 5%;
}
.button4:hover
{
    background-color: #00E8FC;
    color:white;
}



.BigCharacter
{
    text-align:center;
    font-size: 6rem;
    color: #000000;
    margin:auto;
    width:25%;
}

.counter
{
    color:white;
}

.SideBar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 2.28125rem; 
  transition: 0.5s; 
}

.SideBar input
{
  padding: 0.4375rem 0.4375rem 0.4375rem 1.75rem;
  text-decoration: none;
  font-size: 1.35625rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.SideBar input:hover
{
    color: #f1f1f1;
}

.SideBar a
{
  padding: 0.4375rem 0.4375rem 0.4375rem 1.75rem;
  text-decoration: none;
  font-size: 2.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.SideBar .CloseButton
{
  
  position: absolute;
  top: 0;
  right: 1.3125rem;
  font-size: 2,625rem;
  margin-left: 3.5rem;
  cursor:pointer;
}

.SideBar .CloseButton:hover
{
    color: #f1f1f1;
}

.RadioContainer
{
  display:block;
  position: relative;
  padding-left: 2.1875rem;
  margin-bottom: 0.21875rem;
  margin-left: 1rem;
  color:white;
  cursor: pointer;
  font-size: 1.75rem;
  -webkit-user-select: none; /* this part makes it so that the text can't be highlighted, versions for different browsers*/
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.RadioContainer input /*makes the default radio button disappear*/
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.styledRadio           /*styles the new radio button*/ 
{
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75rem;
  width: 1.75rem;
  background-color: #eee;
  border-radius: 50%;
}

.RadioContainer:hover input ~ .styledRadio  /* these two change colors of the styled radio button */
{
  background-color: #808080;
}

.RadioContainer input:checked ~ .styledRadio 
{
  background-color: #2e9bf2;
}

.styledRadio:after  /*creates dot in the styled radio button*/ 
{
  content: "";
  position: absolute;
  display: none;
}

.RadioContainer input:checked ~ .styledRadio:after /*makes the dot appear when the styled radio button is checked*/
{
  display: block;
}

.RadioContainer .styledRadio:after 
{
  top: 0.7rem;
  left: 0.7rem;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background: white;
}

/* checkbox style*/

.checkboxContainer
{
  position: relative;
  padding-left: 2.1875rem;
  margin-bottom: 0.21875rem;
  margin-left: 1rem;
  color:white;
  cursor: pointer;
  font-size: 1.75rem;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxContainer .styledCheckbox1        
{
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75rem;
  width: 1.75rem;
  background-color: #eee;
}

.checkboxContainer:hover input ~ .styledCheckbox1
{
  background-color: #808080;
}

.checkboxContainer input:checked ~ .styledCheckbox1
{
  background-color: #2e9bf2;
}

.styledCheckbox1:after 
{
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .styledCheckbox1:after 
{
  display: block;
}

.checkboxContainer .styledCheckbox1:after 
{
  left: 0.625rem;
  top: 0.325rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid white;
  border-width: 0 0.1875rem 0.1875rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 
/*lower checkboxes*/
.rowSelectCBContainer
{
  display:none;
  position: relative;
  padding-left: 2.1875rem;
  margin-bottom: 0.21875rem;
  margin-left: 3rem;
  color:white;
  cursor: pointer;
  font-size: 1.75rem;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rowSelectCBContainer input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.rowSelectCBContainer .styledCheckbox         
{
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75rem;
  width: 1.75rem;
  background-color: #eee;
}

.rowSelectCBContainer:hover input ~ .styledCheckbox
{
  background-color: #808080;
}

.rowSelectCBContainer input:checked ~ .styledCheckbox
{
  background-color: #2e9bf2;
}

.styledCheckbox:after 
{
  content: "";
  position: absolute;
  display: none;
}

.rowSelectCBContainer input:checked ~ .styledCheckbox:after 
{
  display: block;
}

.rowSelectCBContainer .styledCheckbox:after 
{
  left: 0.625rem;
  top: 0.325rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid white;
  border-width: 0 0.1875rem 0.1875rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*main menu buttons*/

.bigButtonContainer
{
    display:block;
    width:49.5rem;
    height:20.5rem;
    margin:auto;
    margin-top:12rem;
}
.testSettingsButton
{
    display:block;
    height:15rem;
    width:15rem;
    float:left;
    background: #36454F;
    transition-duration:0.2s;
    border-radius: 5%;
    margin-right: 1.5rem;
}

.bigButtonContainer .testSettingsButton:hover
{
    background:#0818A8;
}

.infoButton
{
    background: #36454F;
    color:white;
    font-size: 8.75rem;
    font-family: "Times New Roman", serif;
    text-align: center;
    width:15rem;
    height:15rem;
    float:left;
    display:block;
    border:none;
    cursor:pointer;
    transition-duration: 0.2s;
    border-radius: 5%;
}

.infoButton:hover
{
   background:#0818A8;
    color:white; 
}
/*#4361EE*/
.button
{
    background: #36454F;
    color:white;
    font-size: 2.1875rem;
    text-align: center;
    width:15rem;
    height:15rem;
    float:left;
    display:block;
    border:none;
    cursor:pointer;
    transition-duration: 0.2s;
    border-radius: 5%;
    margin-right: 1.5rem;
}

.button:hover
{
   background:#0818A8;
    color:white; 
}


.mobileTopBar 
{
  display:none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.mobileTopBar li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  transition-duration: 0.2s;
}

.mobileTopBar li a:hover
{
    background-color:#111;
    
}

/*.rightAnsCheck-Parent {
  z-index: 2;
  position:relative;
  float: right;
  height: 0;
  width: 75%;
  border: 2px green solid;
}*/

.rightAnsCheck {
display:none;
position:absolute;
border-radius:50%;
left: 40%;
top: 15vw;
width:16vw;
height:16vw;
z-index: 2;
border: 2vw solid green;
transition-duration: 1s;
}

.wrongAnsCheck {
display:none;
position:absolute;
left: 40%;
top:15vw;
width:20vw;
height:20vw;
z-index: 2;
}


.fade-Out {
animation: fadeOut 1s;
}

@keyframes fadeOut {
from {
  opacity: 1;
}

to {
  opacity: 0;
}

}

.desktopTopBar .openMTB {
  display: block;
  height: 100%;
  float: right;
  transition-duration: 0.2s;
  cursor: pointer;
}

.desktopTopBar .openMTB:hover {
  background: black;
}

.desktopTopBar .openMTB .hamburgerIconHolder {
  display: block;
  height: 2.1875rem;
  padding-top: 0.575rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  padding-bottom: 0.275rem;
}

.hamburgerIconHolder > .line {
  background-color: #292929;
  height: 0.4rem;
  display: block;
  width: 2rem;
  background: white;
}
.hamburgerIconHolder > .line + .line {
  margin-top: 0.3rem;
}

}
/* MOBILE*/


@media screen and (max-width: 480px) {
  body
  {
    height: 100%;
    margin: 0;
    width:100%;
    max-width: 100%;
    background-color: #16085b;
  }
  
  footer
  {
    position: fixed;
    bottom: 0;
  }
  
  header
  {
      height:20%;
      width:100%;
      max-width: 100%;
      display: block;
  }
  
  
main {
  width:100%;
  max-width: 100%;
  height: 100%;
}

  
  
  .desktopTopBar
  {
    display:none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .desktopTopBar li 
  {
    float: left;
  }
  
  .desktopTopBar li a 
  {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .desktopTopBar li a:hover
  {
      background-color:#111;
      
  }
  
  
  aside
  {
      background:grey;
      float:left;
  }
  .tables
  {
      font-size:1.75rem;
      font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; /* this changes fonts of japanese characters to the right ones*/
      width:100%;
      height:100%;
      color:#ffffff;
      background:#000066;
      text-align: center;
      border-collapse: collapse;
  }
  
  td
  {
      border: 1px solid black;
  }
  
  td:hover{
    background:#4169E1;
  } 
  

  
  .grid-container
  {
      display:none;
      width:25%;
      margin:auto;
      grid-template-columns: 1fr 1fr;
      align-items:stretch;
  }
  .grid-container1
  {
      display:grid;
      width:50%;
      height:21.875rem;
      margin:auto;
      grid-template-columns: 1fr 1fr;
      border: 2px solid red;
      grid-column-gap: 5%;
  }
  
  
  .grid-child
  {
      border:none;
  }
  
  .answerContainer {
    display: none;
    position: relative;
    width: 100%;
    height: 50%;
    margin: auto;
    max-width:100%;
    }
    
    .button1
    {
      position: absolute;
      background-color:#256EFF;
      color:white;
      font-size: 3rem;
      text-align: center;
      width: 45%;
      height: 15rem;
      left: 2.5%;
      display:inline-block;
      border:none;
      cursor:pointer;
      transition-property: background-color, color;
      transition-duration: 0.2s;
      border-radius: 5%;
      max-width: 100%;
    }

    .button2
    {
        
      background-color:#256EFF;
      position: absolute;
      color:white;
      text-align: center;
      font-size: 3rem;
      left: 52.5%;
      width: 45%;
      height: 15rem;
      display:inline-block;
      border:none;
      cursor:pointer;
      transition-property: background-color, color;
      transition-duration: 0.2s;
      border-radius: 5%;
      max-width: 100%;
    }
    .button3
    {
      background-color:#256EFF;
      position: absolute;
      color:white;  
      text-align: center;
      font-size: 3rem;
      top: 16rem;
      left: 2.5%;
      width: 45%;
      height: 15rem;
      display:inline-block;
      border:none;
      cursor:pointer;
      transition-property: background-color, color;
      transition-duration: 0.2s;
      border-radius: 5%;
      max-width:100%;
    }

    .button4
    {
      background-color:#256EFF;
      position: absolute;
      color:white;   
      text-align: center;
      font-size: 3rem;
      width: 45%;
      height: 15rem;
      top: 16rem;
      left: 52.5%;
      display:inline-block;
      border:none;
      cursor:pointer;
      transition-property: background-color, color;
      transition-duration: 0.2s;
      border-radius: 5%;
        max-width:100%;
    }
  
  .mobileTopBar .active
  {
      display:none;
      float: left;
      width: 100%;
      max-width: 100%; 
      background-color: #00E8FC;
      color: black;
  }
  .active:hover
  {
      background-color: #DE3C4B;
      
  }
  
  .mobileTopBar .active a 
  {
    display: block;
    width: 100%;
    max-width: 100%;
    color: black;
    text-align: center;
    padding: 0.875rem 0 0.875rem 0;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .BigCharacter
  {
      text-align:center;
      font-size: 8rem;
      color:white;
      margin:auto;
      width: 100%;
      max-width: 100%
  }
  
  .counter
  {
      color:white;
  }
  
  .SideBar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 2.28125rem; 
    transition: 0.5s; 
  }
  
  .SideBar input
  {
    padding: 0.4375rem 0.4375rem 0.4375rem 1.75rem;
    text-decoration: none;
    font-size: 1.35625rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .SideBar input:hover
  {
      color: #f1f1f1;
  }
  
  .SideBar a
  {
    padding: 0.4375rem 0.4375rem 0.4375rem 1.75rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .SideBar .CloseButton
  {
    
    position: absolute;
    top: 0;
    right: 1.3125rem;
    font-size: 2,625rem;
    margin-left: 3.5rem;
    cursor:pointer;
  }
  
  .SideBar .CloseButton:hover
  {
      color: #f1f1f1;
  }
  
  .RadioContainer
  {
    display:block;
    position: relative;
    padding-left: 2.1875rem;
    margin-bottom: 0.21875rem;
    color:white;
    cursor: pointer;
    font-size: 1.75rem;
    -webkit-user-select: none; /* this part makes it so that the text can't be highlighted, versions for different browsers*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .RadioContainer input /*makes the default radio button disappear*/
  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .styledRadio           /*styles the new radio button*/ 
  {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.75rem;
    width: 1.75rem;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .RadioContainer:hover input ~ .styledRadio  /* these two change colors of the styled radio button */
  {
    background-color: #808080;
  }
  
  .RadioContainer input:checked ~ .styledRadio 
  {
    background-color: #2e9bf2;
  }
  
  .styledRadio:after  /*creates dot in the styled radio button*/ 
  {
    content: "";
    position: absolute;
    display: none;
  }
  
  .RadioContainer input:checked ~ .styledRadio:after /*makes the dot appear when the styled radio button is checked*/
  {
    display: block;
  }
  
  .RadioContainer .styledRadio:after 
  {
    top: 0.7rem;
    left: 0.7rem;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    background: white;
  }
  
/* checkbox style*/

.checkboxContainer
{
  position: relative;
  padding-left: 2.1875rem;
  margin-bottom: 0.21875rem;
  margin-left: 1rem;
  color:white;
  cursor: pointer;
  font-size: 1.75rem;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxContainer .styledCheckbox1        
{
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75rem;
  width: 1.75rem;
  background-color: #eee;
}

.checkboxContainer:hover input ~ .styledCheckbox1
{
  background-color: #808080;
}

.checkboxContainer input:checked ~ .styledCheckbox1
{
  background-color: #2e9bf2;
}

.styledCheckbox1:after 
{
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .styledCheckbox1:after 
{
  display: block;
}

.checkboxContainer .styledCheckbox1:after 
{
  left: 0.625rem;
  top: 0.325rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid white;
  border-width: 0 0.1875rem 0.1875rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 
/*lower checkboxes*/
.rowSelectCBContainer
{
  display:none;
  position: relative;
  padding-left: 2.1875rem;
  margin-bottom: 0.21875rem;
  margin-left: 3rem;
  color:white;
  cursor: pointer;
  font-size: 1.75rem;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rowSelectCBContainer input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.rowSelectCBContainer .styledCheckbox         
{
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75rem;
  width: 1.75rem;
  background-color: #eee;
}

.rowSelectCBContainer:hover input ~ .styledCheckbox
{
  background-color: #808080;
}

.rowSelectCBContainer input:checked ~ .styledCheckbox
{
  background-color: #2e9bf2;
}

.styledCheckbox:after 
{
  content: "";
  position: absolute;
  display: none;
}

.rowSelectCBContainer input:checked ~ .styledCheckbox:after 
{
  display: block;
}

.rowSelectCBContainer .styledCheckbox:after 
{
  left: 0.625rem;
  top: 0.325rem;
  width: 0.3125rem;
  height: 0.625rem;
  border: solid white;
  border-width: 0 0.1875rem 0.1875rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bigButtonContainer
  {
      display:block;
      width:75%;
      max-width: 100%;
      height:auto;
      margin: auto;
      margin-top: 0;
  }
.testSettingsButton
  {
      display:block;
      width:100%;
      max-width: 100%;
      height:auto;
      float: left;
      background:#145C9E;
      transition-duration:0.2s;
      margin: 0 0 0 0;
      border-radius: 5%;
  }
  
.bigButtonContainer .testSettingsButton:hover
  {
      background:#0818A8;
  }
  
.infoButton
  {
      background:#145C9E;
      color:white;
      font-size: 20rem;
      font-family: "Times New Roman", serif;
      text-align: center;
      width:100%;
      max-width: 100%;
      height:20rem;
      float: left;
      display:block;
      border:none;
      cursor:pointer;
      transition-duration: 0.2s;
      line-height: 100%;
      margin: 1rem 0 0 0;
      border-radius: 5%;
}
  
  
  .infoButton:hover
  {
     background:#0818A8;
      color:white; 
  }
  
  .button
  {
  background:#145C9E;
  color:white;
  font-size: 2.1875rem;
  text-align: center;
  width:100%;
  max-width: 100%;
  height:20rem;
  float:left;
  display:block;
  border:none;
  cursor:pointer;
  transition-duration: 0.2s;
  margin: 1rem 0 0 0;
  border-radius: 5%;
  }

  .button:hover
  {
     background:#0818A8;
      color:white; 
  }
  
  .mobileTopBar 
  {
    display: block;
    max-width: 100%;
    max-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #28282B;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .mobileTopBar .mobileLI 
  {
    display:none;
    float: left;
    width: 100%;
    max-width: 100%;
  }
  
  .mobileTopBar .mobileLI a 
  {
    display: block;
    width: 100%;
    max-width: 100%;
    color: white;
    text-align: center;
    padding: 0.875rem 0 0.875rem 0;
    text-decoration: none;
    transition-duration: 0.2s;
  }

.settingsclass
  {
      display:none;
      margin: auto;
      height: 2.75rem;
      width: 2.75rem;
      max-width: 100%;
      float: left;
  }
  
  .settingsclass input
  {
      display:inline-block;
      height:2.75rem;
  }
  
  .mobileTopBar .mobileLI a:hover
  {
      background-color:#111;
      
  }
  .mobileTopBar .settingsclass input:hover
  {
      background-color:#111;
      
  }
}

.mobileTopBar .openMTB {
  display: block;
  height: 100%;
  width: 2.8rem;
  float: right;
  transition-duration: 0.2s;
  cursor: pointer;
}

.mobileTopBar .openMTB:hover {
  background: black;
}

.mobileTopBar .openMTB .hamburgerIconHolder {
  display: block;
  height: 2.1875rem;
  padding-top: 0.575rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  padding-bottom: 0.275rem;
}

.hamburgerIconHolder > .line {
  background-color: #292929;
  height: 0.4rem;
  display: block;
  width: 2rem;
  background: white;
}
.hamburgerIconHolder > .line + .line {
  margin-top: 0.3rem;
}

.rightAnsCheck {
  display: none;
  position:absolute;
  border-radius:50%;
  top: 45%;
  left: 11%;
  width: 60%;
  height: 60vw;
  z-index: 2;
  border: 9vw solid #0BDA51;
  transition-duration: 1s;
  }
  
  .wrongAnsCheck {
  display:none;
  position:absolute;
  left: 11%;
  top: 45%;
  width: 80%;
  height:80vw;
  z-index: 2;
  }
  
  
  .fade-Out {
  animation: fadeOut 1s;
  }
  
  @keyframes fadeOut {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
  
  }
  
  
